header {
    background: url(../assets/home-header.jpg) center / cover;
    // height: 40vh;
    padding: 50px 0;
}

header ul {
    display: flex;
}

header li:not(:last-child) {
    margin-right: 40px;
}

header ul {
    list-style: none;
}

h1 {
    font-size: $main-heading;
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
    color: $dandelion;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: $nav-text;
    border-bottom: 3px solid transparent;
    padding: 10px 0;
    transition: all .2s ease;
}

header nav a:hover,
header nav a:focus,
header nav a:active {
    border-bottom: 4px solid $dandelion;
}

header img {
    min-width: 350px;
}