header {
    background: url(../assets/home-header.jpg) center / cover;
    padding: 50px 0;
    height: 50vh;
    position: relative;
}

header ul {
    display: flex;
}

header li:not(:last-child) {
    margin-right: 40px;
}

header ul {
    list-style: none;
}

h1 {
    font-size: $main-heading;
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
    color: $dandelion;
}

.header-container {
    display: flex;
    align-items: flex-end;
    height: 40vh;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: $nav-text;
    border-bottom: 3px solid transparent;
    padding: 10px 0;
    transition: all .2s ease;
}

header nav a:hover,
header nav a:focus,
header nav a:active {
    border-bottom: 4px solid $dandelion;
}

.header-text {
    width: 40%;
}

.header-image {
    position: absolute;
    top: 15vh;
    right: -5vw;
    // top: 150px;
    // right: -200px;
}