// $ice-blue: #EAFEFC;
// $dandelion: #FDD908;
// $twilight-blue: #0d457f;

// Font sizes
// $main-heading: 7.9rem;
// $secondary-heading: 4.5rem;
// $box-heading: 4rem;
// $side-heading: 2.5rem; 
// $body-text: 2rem;
// $button-text: 2.24rem;
// $nav-text: 2rem;

// font-family: 'IM Fell English', serif;
// font-family: 'Roboto', sans-serif;

@import "variables";
@import "setup";
@import "header";

// Global CSS would go below.

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
.button {
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
}

h2 {
    font-size: $secondary-heading;
}

.new-destinations h2,
.vacation-days h2,
.win-trip h2 {
    color: $twilight-blue;
}

.our-programs {
    color: white;
}

.button {
    font-size: $button-text;
    color: $twilight-blue;
    background-color: $dandelion;
    padding: 10px 20px;
    text-decoration: none;
}


// general section styles

section:nth-child(odd) {
    background-color: $ice-blue;
}

section:nth-child(even) {
    background-color: $twilight-blue;
}

section {
    padding: 100px 0;
}

// section new-destination

.destinations-container {
    display: flex;
    margin-bottom: 50px;
}

.new-destinations .wrapper:first-child {
    margin-bottom: 50px;
}

.destinations-container div {
    flex: calc(50% - 100px);
}

.destinations-left {
    margin-right: 50px;
}

.destinations-right {
    margin-left: 50px;
}

// section our-programs

.programs-container {
    display: flex;
    flex-wrap: wrap;
}

.programs-container div {
    flex: 50%;
}

// section vacation-days

.vacation-days {
    text-align: center;
}

// section win-trip

.trip-container{
    display: flex;
    // justify-content: space-between;
}

.trip-image {
    flex: 30%;
}

.trip-text {
    flex: 70%;
}

// section gallery

.gallery-container {
    display: flex;
}

// footer

footer {
    background-color: $dandelion;
    text-align: center;
}