// $ice-blue: #EAFEFC;
// $dandelion: #FDD908;
// $twilight-blue: #0d457f;

// $main-heading: 79px;
// $secondary-heading: 45px;
// $box-heading: 40px;
// $side-heading: 25px; 
// $body-text: 20px;
// $button-text: 22.4px;
// $nav-text: 20px;

// font-family: 'IM Fell English', serif;
// font-family: 'Roboto', sans-serif;

@import "variables";
@import "setup";
@import "header";

// Global CSS would go below.

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}